<div class="cards-list">
  <div class="book-card" *ngFor="let book of books">
    <div class="book-cover">
      <img [src]="getCoverSrc(book.cover_url)" alt="Couverture" (error)="onImgError($event)" />
    </div>
    <div class="book-content">
      <h3 class="book-title">{{ book.title }}</h3>
      <div class="book-author">Author : {{ book.author }}</div>
      <div class="book-desc">{{ book.description }}</div>
      <button class="favorite-btn" (click)="addToFavoris(book.id)">
        <img src="assets/icon/fairy.png" alt="Ajouter aux favoris" width="24" />
      </button>
    </div>
  </div>
</div>
