<div class="canvas-layout">

  <aside class="sidebar">
  <div class="sidebar-top">
 <div class="logo">
  <a routerLink="/home">
    <img src="assets/img/l&l.png" alt="Lumen & Leaf logo" class="logo-img" />
  </a>
</div>

<div class="navbar-block">
  <div class="navbar-block-title">Menu</div>
  <div class="navbar-block-btns">
 <button class="navbar-btn" *ngIf="userRole === 'author'" (click)="onNewStoryClick()">
  + New Story Awaits
</button>
<button class="navbar-btn" *ngIf="userRole === 'reader'" (click)="onAddBookToCollection()">
  + Draw one
</button>
   <button class="navbar-btn" (click)="activePanel = 'collection'">
  <img src="assets/icon/tag.png" class="btn-icon" alt="Collection" />
  Collection
</button>
<button class="navbar-btn" (click)="activePanel = 'category'">
  <img src="assets/icon/category.png" class="btn-icon" alt="Category" />
  Category
</button>
<button class="navbar-btn" (click)="activePanel = 'genre'">
  <img src="assets/icon/theme.png" class="btn-icon" alt="Genre" />
  Themes
</button>
   </div>
      </div>
    </div>
    <button class="help-btn">help</button>
  </aside>
  
  
  <main class="main-area">
  
    <header class="topbar">
       <input
      class="searchbar"
      type="text"
      placeholder="Searchbar"
      [(ngModel)]="searchTerm"
    />
      <div class="header-actions">
        <button class="icon-btn">
        <img src="assets/icon/bell.png" alt="Notify" class="icon-img">
    </button>
        <div class="avatar" (click)="goToProfile()" title="Voir mon profil">
  <img [src]="avatarUrl" alt="Avatar" class="avatar-img" />
      </div>
        <button class="logout-btn" (click)="logout()">Exit</button>
      </div>
    </header>

    <div class="main-content-row">
    
<nav class="sub-sidebar">
  <div class="sub-sidebar-block-title">My collection</div>
  <button class="sub-btn">
    <img src="assets/icon/clock.png" alt="Recent" class="sub-btn-icon" />
    Recent
  </button>
  <button class="sub-btn" (click)="onFavoritesClick()">
  <img src="assets/icon/star.png" alt="Favorites" class="sub-btn-icon" />
  Favorites
</button>
  <button class="sub-btn">
    <img src="assets/icon/trashbin.png" alt="Trashbin" class="sub-btn-icon" />
    Trashbin
  </button>
</nav>

 <section class="content-area">

<div *ngIf="activePanel === 'collection'">
  <div class="page-title">
    <span *ngIf="!isEditingTitle" (click)="editTitle()" class="editable-title">
      {{ collectionTitle }}
      <img src="assets/icon/edit.png" alt="Edit" class="edit-icon" />
    </span>
    <input *ngIf="isEditingTitle"
          [(ngModel)]="collectionTitle"
          (blur)="saveTitle()"
          (keydown.enter)="saveTitle()"
          class="edit-title-input"
          autofocus
    />
  </div>

    <app-booklist [books]="filteredBooks"></app-booklist>
  </div>

<div *ngIf="activePanel === 'category'">
  <div class="page-title">Different categories</div>
  <div class="category-grid">
    <button 
      class="category-btn" 
      *ngFor="let cat of categories"
      [ngStyle]="{'background-color': cat.color}"
      (click)="selectCategory(cat)"
      [class.selected]="selectedCategory?.id === cat.id"
    >
      {{ cat.name }}
    </button>
  </div>

<div *ngIf="selectedCategory" class="filtered-cards-frame">
  <div *ngIf="filteredBooks.length > 0; else noBooks">
    <div *ngFor="let book of filteredBooks" class="book-card-horizontal">
      <div class="book-cover-horizontal">
        <img 
          [src]="book.cover_url ? 'http://localhost:3000/uploads/' + book.cover_url : 'assets/default-cover.png'" 
          alt="Couverture"
          class="cover-img"
          (error)="onImgError($event)"
        />
      </div>
      <div class="book-content-horizontal">
        <h3 class="book-title">{{ book.title }}</h3>
        <div class="book-author">Author : {{ book.author }}</div>
        <div class="book-desc">{{ book.description }}</div>
      </div>
    </div>
  </div>
  <ng-template #noBooks>
    <div class="empty-message">No books found there yet</div>
  </ng-template>
</div>
</div>


<div *ngIf="activePanel === 'genre'">
  <div class="page-title">Pick your theme</div>
  <div class="genre-icon-row">
    <div 
      class="genre-icon-block" 
      *ngFor="let genre of genres"
      [class.selected]="selectedGenre?.id === genre.id"
      (click)="selectGenre(genre)"
    >
      <img class="big-genre-icon" [src]="genre.image_url" alt="{{ genre.name }}">
      <div class="genre-label">{{ genre.name }}</div>
    </div>
  </div>

<div *ngIf="selectedGenre" class="filtered-cards-frame">
  <div *ngIf="filteredBooks.length > 0; else noBooksGenre">
    <div *ngFor="let book of filteredBooks" class="book-card-horizontal">
      <div class="book-cover-horizontal">
        <img 
          [src]="book.cover_url ? 'http://localhost:3000/uploads/' + book.cover_url : 'assets/default-cover.png'" 
          alt="Couverture"
          class="cover-img"
          (error)="onImgError($event)"
        />
      </div>
      <div class="book-content-horizontal">
        <h3 class="book-title">{{ book.title }}</h3>
        <div class="book-author">Author : {{ book.author }}</div>
        <div class="book-desc">{{ book.description }}</div>
      </div>
    </div>
  </div>
  <ng-template #noBooksGenre>
    <div class="empty-message">No books found there yet</div>
  </ng-template>
</div>
</div>

<div *ngIf="activePanel === 'favoris'">
  <div class="page-title">My favorites</div>
  <div class="filtered-cards-frame">
    <app-booklist [books]="favorisBooks"></app-booklist>
  </div>
</div>
</section>
    </div>
  </main>
</div>