<div class="profile-container" *ngIf="user; else errorBlock">
  <div class="profile-card">
  <div class="avatar">
  <img *ngIf="user.avatar" [src]="'http://localhost:3000' + user.avatar" alt="Avatar" />
  <span *ngIf="!user.avatar">
    {{ user.firstName ? user.firstName[0] : '?' }}{{ user.lastName ? user.lastName[0] : '?' }}
  </span>
</div>

    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <p class="username">{{ user.username }}</p>
    <p class="role" [class.author]="user.role === 'author'">{{ user.role | titlecase }}</p>
    <div class="profile-details">
      <p><strong>Email&nbsp;:</strong> {{ user.email }}</p>
   <div class="avatar-upload">
      <label for="avatarInput" class="avatar-label">Change your profile picture</label>
<input type="file" id="avatarInput" (change)="onAvatarSelected($event)" accept="image/*" />
    </div>
    </div>
    <button mat-raised-button color="warn" class="logout-btn" (click)="goBack()">
  Back
</button>
  </div>
</div>
<ng-template #errorBlock>
  <div class="profile-error">
    {{ errorMessage }}
  </div>
</ng-template>