<div class="page-container">
<div class="form-center">
<form [formGroup]="registerFormGroup" (ngSubmit)="register()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" autocomplete="username" />
    <mat-error *ngIf="registerFormGroup.get('username')?.hasError('required')">
      an id is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" autocomplete="email" />
    <mat-error *ngIf="registerFormGroup.get('email')?.hasError('required')">
      an email is required
    </mat-error>
    <mat-error *ngIf="registerFormGroup.get('email')?.hasError('email')">
      email is wrong or already use
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="firstName" autocomplete="given-name" />
    <mat-error *ngIf="registerFormGroup.get('firstName')?.hasError('required')">
      a surname is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName" autocomplete="family-name" />
    <mat-error *ngIf="registerFormGroup.get('lastName')?.hasError('required')">
      a name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" autocomplete="new-password" />
    <mat-error *ngIf="registerFormGroup.get('password')?.hasError('required')">
      a password is require
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option value="reader">Reader</mat-option>
      <mat-option value="author">Author</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="registerFormGroup.invalid">
    Create the account
  </button>

  <div *ngIf="registrationError" class="error-message">
    {{ registrationError }}
  </div>
</form>

<div class="login-footer">
  <span>Already have an account?</span>
  <a routerLink="/login">Log in</a>
</div>
</div>
</div>