<div class="page-container">
<header class="header">
  <div class="logo">
    <a [routerLink]="'/home'">
  <img src="assets/img/l&l.png" alt="Lumen&Leaf logo" class="logo-img">
 </a>
</div>
  <div class="header-actions">
      <button mat-raised-button color="accent" [routerLink]="'/login'">Login</button>
      <button mat-raised-button class="mon-bouton-perso" [routerLink]="'/register'">Register</button>
  </div>
</header>

<main class="main-content">
<section class="hero">
  <div class="hero-banner">
    <img src="assets/img/hero.jpg" alt="Hero" class="hero-img" />
    <div class="hero-text">
      <h1>Welcome dear polymath</h1>
      <p>
        "Lumen & Leaf", is a library management application that offers an intuitive solution for organizing and sharing your paper books.
        You are here for a reason. Come and find your way with your personal collection.
      </p>
    </div>
  </div>
</section>

<section class="about-section">
  <h2 class="about-title">Découvrez avec nous</h2>
  <p class="about-text">
    At the back of a small local library, an old book had lain dormant for years, covered in dust. 
    One stormy evening, a little girl entered, soaking wet, seeking shelter. 
    She stumbled across the forgotten book and, on opening it, discovered worlds she'd never imagined.
    As she turned the pages, the storm outside faded, replaced by the light of stories that warmed her heart. 
    That evening, she realized that, even alone, you're never truly alone with a book in your hands.
  </p>
</section>

<section class="about-section">
  <h2 class="about-title">Une infinité de possibiltés</h2>
  <p class="about-text">
    Sitting in front of her window, Anastasia watched the rain trace paths on the glass. 
    One day, without really knowing why, she picked up an old notebook and a pencil. 
    At first, she scribbled timid words, clumsy sentences. Then, little by little, stories were born under her hand: worlds, imaginary friends, secret dreams.
    With every page she turned, Léa felt stronger, freer. Writing became her refuge and her happiness, a space where she could invent anything. A discreet smile lit up her face: she had just found her voice.
  </p>
</section>

<section class="about-section">
  <h2 class="about-title">D'histoires sans lendemain</h2>
  <p class="about-text">
    The “Lumen and leaf” project is the brainchild of hopeful authors eager to share their love of reading.
    We're counting on you, dear readers, to accompany us on this path full of twists and turns.
  </p>
</section>
</main>

<footer class="footer-custom">
<footer class="footer-custom">
  <div class="footer-top">
    <div class="footer-social">
      <h2>Follow us on social media</h2>
      <p>Do not hesitate to follow us so you could keep in touch with the next updates.</p>
      <div class="footer-icons">
        <a href="https://twitter.com" target="_blank" rel="noopener">
          <img src="assets/icon/twitter.png" alt="X" title="Twitter"></a>
        <a href="https://instagram.com" target="_blank" rel="noopener">
          <img src="assets/icon/instagram.png" alt="Instagram"></a>
        <a href="https://youtube.com" target="_blank" rel="noopener">
          <img src="assets/icon/youtube.png" alt="YouTube">
        </a>
      </div>
    </div>
    <div class="footer-block">
      <h3>About us</h3>
      <p>
        Created in 2025, this app is a constant way to develop itself.  
        All the books published are printed so you can buy them in the library next to you.
      </p>
    </div>
    <div class="footer-block">
      <h3>DMCA</h3>
      <p>
        If you already know an author that is problematic in a certain way, don't hesitate to contact us via "lumsleafatgmail.com".
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-copyright">
      ©  2025 Lumen & Leaf | Wrote with a little bit of <span style="color: #ed6b6a;">❤️</span> in France
      <a href="#">Legal mentions</a>
      <a href="#">Confidential politics</a>
    </div>
  </div>
</footer>
</footer>
</div>